
.flex-container {
    display: flex;
    align-items: flex-start; 
    gap: 60px; 
  }
  .campo-busca {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 

   
    width: 100%; 
    max-width: 400px; 
    border-radius: 10px; 
    margin: auto;
}
