.mapa{
   display: flex;
   align-items: center;
   
   

}

.mapa-inside{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}